{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "eqeqeq": "warn",
    "semi":["error","always"],
    "no-unreachable": "warn"
  }
}
